@import 'variable';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

*{
  @extend %raleway-regular;
  color: $text-color;
}

a{
  text-decoration: none;
}

ul{
  padding-inline-start: 0;
}

h1,h2,h3,h4,h5,h6, strong, b {
  @extend %raleway-bold;
}

/*** #go-up ***/
#go-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  position: fixed;
  z-index: 100;
  right: -30px;
  bottom: 100px;
  border-radius: 6px;
  padding: 3px 5px;
  transition: .33s;
  opacity: .50;

  &.active {
    right: 30px;
  }

  &:hover {
    opacity: 1;
  }

  i{
    font-size: 32px;
    color: $white;
  }
}

/*** .mobile-menu ***/
.mobile-menu-shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.70);
  left: 0;
  top: 0;
  z-index: 100;
  transition: opacity .33s;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.mobile-menu {
  position: fixed;
  left: -320px;
  top: 0;
  height: 100vh;
  z-index: 101;
  background-color: $white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  max-width: 320px;
  transition: left 0.5s;

  &.active {
    left: 0;

    &:after {
      left: 320px;
    }
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $text-color;
    font-size: 26px;
  }

  .logo {
    margin-bottom: 3rem;
  }

  .top, .bottom, .center {
    width: 100%;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;

    li {
      display: block;
      position: relative;
      padding: 5px 0;
      border-bottom: 1px solid rgba(112,112,112, .40);

      &:nth-last-of-type(1) {
        border-bottom: none;
      }

      a{
        display: block;
        color: $text-color;
        font-size: 17px;
        @extend %raleway-regular;
      }

      &.active, &:hover {
        border-color: $red;

        a{
          color: $red;
        }
      }
    }
  }

  .working-time {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    strong {
      font-size: 18px;
      color: $text-color;
    }

    span {
      font-size: 18px;
      color: $text-color;
      @extend %raleway-bold;
      margin-left: .2rem;
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin-right: 30px;

      &:nth-last-of-type(1) {
        margin-right: 0;
      }

      a{
        display: block;
        color: $text-color;
        font-size: 22px;
        transition: .3s;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .authentication-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    li {
      display: inline-block;

      &:nth-child(1) {
        margin-right: 30px;
      }

      a{
        display: flex;
        align-items: center;

        i{
          color: $text-color;
          font-size: 18px;
        }

        span {
          color: $text-color;
          @extend %raleway-bold;
          font-size: 14px;
          margin-left: .3rem;
        }
      }
    }
  }
}

/*** Padding ***/
.pt-75 {
  padding-top: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

/*** .swiper-wrapper ***/
.swiper-wrapper {height: auto;}

/*** Fancybox ***/
.fancybox__toolbar {
  * {
    color: $white;
  }
}

.fancybox__nav {
  *{
    color: $white;
  }
}

.btn-red, .btn-white {
  color: $white;
  font-size: 13px;
  @extend %raleway-bold;
  line-height: 55px;
  padding: 0 2.5rem;
  border-radius: 26px;
  min-width: 180px;
  transition: .3s;
}


.btn-red {
  background-color: $red;

  &:hover {
    color: $white;
    background-color: $red-hover;
  }
}

.btn-white {
  background-color: $white;
  color: $text-color;

  &:hover {
    background-color: $white-hover;
  }
}

.__btn-bottom {
  width: 100vw;
  height: 150px;
  position: absolute;
  z-index: 11;
  bottom: -51px;
  background: transparent url(../img/icon/slider-bottom-divider.svg) no-repeat center center;

  i{
    color: $red;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.__btn-top {
  width: 100vw;
  height: 150px;
  position: absolute;
  z-index: 11;
  bottom: -51px;
  background: transparent url(../img/icon/footer-top-divider.svg) no-repeat center center;

  i{
    color: $red;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/*** .default-title-v6 ***/
.default-title-v6 {
  margin-bottom: 2.5rem;
  text-align: center;

  strong.sub-title {
    @extend %raleway-regular;
    font-size: 18px;
    margin-bottom: 1rem;
    display: block;
    color: $red;
    position: relative;
    padding-bottom: .7rem;

    &::after {
      width: 30px;
      height: 1px;
      background-color: $red;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
    }
  }

  h3.title {
    @extend %raleway-bold;
    font-size: 24px;
    margin-bottom: 2rem;
    display: block;
    color: $text-color;
  }
}

/*** color ***/
.color-red {color: $red!important}

/*** .header-v5 ***/
.header-v6 {
  background-color: $black;

  .header-top {
    height: 50px;
    position: relative;
    z-index: 1;
    border-bottom:1px solid rgba($white, .30);

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .authentication-links {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      li {
        display: inline-block;
        margin-right: 30px;
        position: relative;

        a {
          display: block;
          font-size: 16px;

          i {
            color: $red;
            margin-right: 5px;
          }

          span {
            @extend %raleway-regular;
            font-size: 15px;
            color: $white;
          }
        }
      }
    }

    .menu-shopping-cart {
      display: flex;
      align-items: center;

      .number {
        margin-right: 20px;
        position: relative;

        i{
          color: $white;
          font-size: 22px;
        }

        span {
          display: inline-block;
          min-width: 25px;
          min-height: 25px;
          text-align: center;
          line-height: 25px;
          color: $white;
          border-radius: 50%;
          background-color: $red;
          font-size: 13px;
          @extend %raleway-bold;
          position: absolute;
          left: 15px;
          top: -5px;
        }
      }

      .price-box {
        display: flex;
        align-items: flex-start;
        margin-left: 10px;

        strong {
          @extend %raleway-regular;
          font-size: 15px;
          color: $white;
          margin-right: 5px;
        }

        i {
          font-size: 12px;
          color: $white;
        }

        span {
          @extend %raleway-bold;
          font-size: 15px;
          color: $white;
        }
      }
    }
  }

  .header-center {
    height: 60px;
    border-bottom:1px solid rgba($white, .30);

    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      li {
        display: inline-block;
        padding-left: 7.5px;
        padding-right: 7.5px;
        position: relative;


        &:hover, &.active {

          a{
            color: $red;
          }
        }

        a{
          display: block;
          @extend %raleway-regular;
          font-size: 18px;
          color: $white;
          padding-left: 15px;
          padding-right: 15px;
          transition: .33s;
          border-radius: 24px;
          line-height: 60px;
        }
      }
    }
  }

  .header-bottom {
    height: 115px;
    border-bottom:1px solid rgba($white, .30);

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    .logo {
      display: block;
      position: relative;

      img {

        &:nth-child(2) {
          z-index: 1;
          position: relative;
        }
      }

      .attach {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: -16px;
        transform: translateX(calc(-50% + 13px));
      }
    }

    .working-time {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
      }

      i{
        color: $red;
        font-size: 36px;
      }

      strong {
        font-size: 14px;
        @extend %raleway-regular;
        color: $white;
      }

      span {
        font-size: 18px;
        @extend %raleway-regular;
        color: $white;
      }
    }

    .restaurant-status {

      img {
        display: none;
        max-height: 100px;
      }

      &.open {
        height: 100%;
        position: relative;

        img {

          &:nth-child(1) {
            display: block;
          }
        }
      }

      &.closed {

        img {

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }

    .open-mobile-menu {
      display: none;
      position: relative;
      flex-direction: column;

      span{
        font-size: 8.5px;
        @extend %raleway-bold;
        color: $red;
      }

      i{
        font-size: 28px;
        color: $red;
      }
    }
  }
}

/*** .home-slide-v6 ***/
.home-slide-v6 {
  position: relative;

  .home-slide-v6-swiper {
    position: relative;
    z-index: 0;

    .swiper-slide {
      height: 740px;
      background-repeat: no-repeat;
      position: relative;
      background-position: center center;
      background-size: cover;
      z-index: 1;
      text-align: center;
      padding-top: 3rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, .50);
        z-index: -1;
      }

      .slide-logo {
        margin-bottom: 2rem;
      }

      .__title {
        color: $white;
        @extend %raleway-regular;
        font-size: 40px;
        margin-bottom: 2rem;
      }

      p {
        color: $white;
        @extend %raleway-regular;
        font-size: 14px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }

      &.swiper-slide-active {

        .__title, .slide-logo, p {
          animation: fadeInUp;
          animation-duration: 1s;
        }
      }
    }
  }

  .order-online-v6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;

    .title {
      color: $white;
      font-size: 28px;
      margin-bottom: 1rem;
    }

    input {
      border: 1px solid rgba($white, .40);
      height: 55px;
      line-height: 55px;
      border-radius: 26px;
      font-size: 17px;
      @extend %raleway-regular;
      text-align: center;
      color: $white;
      background-color: rgba($white, .20);
      margin-bottom: 1rem;

      &::placeholder {
        color: rgba(255,255,255,.70);
      }
    }

    p{
      font-size: 19px;
      color: $white;
      text-align: center;
    }

    .btn__group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      .btn{

        &:nth-child(1) {
          margin-right: 30px;
        }
      }
    }
  }

}

/*** .who-are-we-v-6 ***/
.who-are-we-v6 {

  .container {
    max-width: 570px;
    text-align: center;

    p{
      color: $p-color;
      font-size: 14px;
      margin-bottom: 4rem;
    }

    a{
      background-color: $white;
      color: $red;
      border-radius: 0;
      @extend %raleway-bold;
      border: 1px solid #DBDBDB;
      line-height: 50px;
      min-width: 210px;
    }
  }
}

/*** .reservation-v6 ***/
.reservation-v6 {
  background-color: $bg-color-1;

  form {

    .form-control {
      height: 60px;
      border-radius: 4px;
      border: none;
      background-color: rgba(0, 0, 0, .04);
      color: $text-color;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .select2-dropdown {
      background-color: rgba(255, 255, 255, .05);
    }

    .select2-container--default {
      width: 100%!important;

      .select2-selection--single{
        height: 60px;
        border-radius: 4px;
        border: none;
        background-color: rgba(0, 0, 0, .04);

        .select2-selection__rendered {
          line-height: 60px;
          padding-left: 1rem;
          padding-right: 1rem;
        }

        .select2-selection__arrow {
          display: none;
        }
      }
    }

    .select2-container--below {

      .select2-selection--single{

        .select2-selection__rendered {
          color: $text-color;
        }
      }
    }

    .btn {
      font-size: 18px;
      display: flex;
      align-items: center;
      height: 60px;
      border-radius: 0;
      padding: 0 2rem;
      max-width: 100%;
      width: 100%;
      justify-content: center;
      @extend %raleway-regular;
    }

    div.icon {
      position: relative;

      i{
        position: absolute;
        color: $text-color;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

/*** .photo-gallery-v5 ***/
.photo-gallery-v6 {

  .col {
    flex: initial;
    width: 20%;
    margin-bottom: 30px;
  }

  .item {
    position: relative;
    width: 100%;
    height: 315px;
    transition: .33s;

    a{
      position: absolute;
      color: $text-color;
      font-size: 22px;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($white, .70);
      border-radius: 50%;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
      transform: scale(0);
      transition: .33s ease;
      z-index: 1;
    }

    &:hover {
      transform: scale(1.2);
      z-index: 1;

      a{
        transform: scale(1);
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}

/*** .best-categories-v5 ***/
.popular-foods-v6 {
  background-color: $black;

  .default-title-v6 {
    margin-bottom: 4rem;

    .title {
      color: $white;
    }
  }

  .list-item {

    .item {
      display: flex;
      width: 100%;
      margin-bottom: 3rem;
      align-items: center;
      border-bottom: 1px solid rgba(#DBDBDB, .40);
      padding-bottom: 1rem;

      .img{
        width: 100px;
        height: 100px;
        margin-right: 30px;
        position: relative;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      .text-content {
        padding-right: 15px;
        width: calc(100% - 130px);

        strong {
          color: $red;
          font-size: 20px;
        }

        p{
          margin-bottom: 0;
          font-size: 14px;
          color: $white;
        }
      }
    }
  }
}

/*** .user-comments-v6 ***/
.user-comments-v6 {
  background-color: $red;

  .default-title-v6 {

    .sub-title {
      color: $white;

      &::after {
        background-color: $white;
      }
    }

    .title{color: $white}
  }

  *{
    color: $white;
  }

  .swiper-slide {
    text-align: center;

    p{
      font-style: italic;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
    }

    strong {
      font-size: 20px;
    }
  }

  .swiper {
    padding-bottom: 50px;
  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      background-color: transparent;
      width: 10px;
      height: 10px;
      border: 2px solid $white;
      opacity: 1;

      &.swiper-pagination-bullet-active{
        background-color: $white;
      }
    }
  }
}

/*** .opening-hours-v6 ***/
.opening-hours-v6 {
  background-color: $bg-color-1;

  .default-title-v6 {
    margin-bottom: 3.5rem;
  }

  .__info {
    max-width: 527px;
    margin: 0 auto;
    text-align: center;

    .__divider {
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 2px;
      margin-top: 1rem;
      margin-bottom: 1rem;

      &::before {
        width: 25%;
        height: 2px;
        background: $black;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
      }

      &::after {
        width: 25%;
        height: 2px;
        background: $black;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 1px;
      }
    }

    .__time-title {
      font-size: 65px;
    }

    .__time {
      margin-bottom: 1rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      strong {
        opacity: .34;
        font-size: 20px;
        @extend %raleway-regular;
        display: block;
        margin-bottom: .5rem;
      }

      .__time-box {
        display: flex;
        align-items: center;
        justify-content: center;

        .__time-divier {
          width: 5px;
          height: 2px;
          background: $black;
          margin-left: 10px;
          margin-right: 10px;
        }

        .__left-time, .__right-time {
          display: flex;
          align-items: center;

          span {

            &:nth-child(1) {
              font-size: 36px;
            }

            &:nth-child(2) {
              font-size: 18px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

}

/*** .popular-categories-v6 ***/
.popular-categories-v6 {
  background-color: $bg-color-1;

  .__btn-list {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(#DBDBDB, .40);
    border-bottom: 1px solid rgba(#DBDBDB, .40);
    padding: 25px 0;
    justify-content: center;
    margin-bottom: 5rem;

    a{
      font-size: 18px;
      @extend %raleway-bold;
      color: $text-color;
      margin-left: 10px;
      margin-right: 10px;
      transition: .33s;

      &:hover, &.active {
        color: $red;
      }
    }
  }

  .swiper {
    padding-bottom: 60px;
    position: relative;
  }

  .swiper-slide {

    .item {

      .img {
        position: relative;
        border: 3px solid $white;
        height: 270px;
        overflow: hidden;
        margin-bottom: 1.5rem;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      strong {
        display: block;
        color: $red;
        font-size: 20px;
        text-align: center;
      }

      p{
        margin-bottom: 0;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet-active {
      background-color: $red;
    }
  }
}

/*** .footer-v6 ***/
.footer-v6 {

  .footer-top {
    background-color: $black;
    padding-top: 75px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;

    .__footer-title {
      @extend %raleway-bold;
      font-size: 32px;
      margin-bottom: 1rem;
      display: block;
      color: $white;
      position: relative;
      padding-bottom: 1rem;

      &::after {
        width: 50px;
        height: 2px;
        background-color: $red;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
      }
    }

    .copyright {
      font-size: 27px;
      color: #5A5A5A;
    }
  }

  .f-logo {
    display: block;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    a{
      display: block;
      text-align: center;
      line-height: 40px;
      width: 40px;
      height: 40px;
      font-size: 22px;
      cursor: pointer;
      color: $black;
      border-radius: 50%;
      border: 1px solid $black;
      transition: .33s;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        color: $white;
        background-color: $red;
        border-color: $red;
      }
    }
  }

}
