@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.img-slider{
    position: relative;
    width: auto;
    height: 500px;
    margin: 10px;
    background: #1D212B;
}

.img-slider .slide{
    z-index: 1;
    position:absolute;
    width: auto;
}

.img-slider .slide img{
    z-index: 1;
    width: auto;
    border-radius: 5px;
}

.img-slider .navigation{
    z-index: 2;
    position:absolute;
    display:flex;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background: rgba(255, 2555, 255, 0.5) ;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}