#checkout > .checkout-heading::before,#payment-address > .checkout-heading::before,#payment-method > .checkout-heading::before,#confirm > .checkout-heading::before{border:1px solid;border-radius:15px;content:"";height:14px;left:0;position:absolute;top:100%;width:100%}
#checkout > .checkout-heading::after,#payment-address > .checkout-heading::after,#payment-method > .checkout-heading::after,#confirm > .checkout-heading::after{background:rgba(0,0,0,0) linear-gradient(#0b791a,#15c10b,#0b791a) repeat scroll 0 0;background:rgba(0,0,0,0) -webkit-linear-gradient(#0b791a,#15c10b,#0b791a) repeat scroll 0 0;background:rgba(0,0,0,0) -moz-linear-gradient(#0b791a,#15c10b,#0b791a) repeat scroll 0 0;background:rgba(0,0,0,0) -o-linear-gradient(#0b791a,#15c10b,#0b791a) repeat scroll 0 0;background:rgba(0,0,0,0) -ms-linear-gradient(#0b791a,#15c10b,#0b791a) repeat scroll 0 0;border:1px solid;border-bottom-left-radius:15px;border-top-left-radius:15px;content:"";height:14px;left:0;position:absolute;top:100%;width:0;transition:width .35s;-webkit-transition:width .35s;-moz-transition:width .35s;-o-transition:width .35s;-ms-transition:width .35s}
#checkout.step_1 > .checkout-heading::after{width:33%}
#payment-address.step_2 > .checkout-heading::after{width:66%}
#payment-method.step_3 > .checkout-heading::after{width:100%}
#confirm.step_4 > .checkout-heading::after{border-radius:15px;width:100%}
#checkout > .checkout-heading,#payment-address > .checkout-heading,#payment-method > .checkout-heading,#confirm > .checkout-heading{background:transparent none repeat scroll 0 0;color:#000;float:left;font-size:16px;font-weight:700;margin-bottom:40px;position:relative;text-transform:uppercase;width:100%;margin-top:40px}
.btnloginwithfacebook{background-color:#3c579a;border-radius:3px;color:#fff;display:inline-block;font-weight:700;margin-bottom:20px;padding:12px 14px}
#button-login.button{border-radius:0;font-size:16px;font-weight:700;margin-top:20px;min-width:100px;padding:0 10px}
h2.ybcgeneral.title-toggle,.title-heading{border-bottom:3px solid;color:#000;cursor:pointer;float:left;font-size:18px;line-height:22px;margin-bottom:25px;margin-top:21px;overflow:hidden;position:relative;text-align:left;width:100%}
.ybcgeneral.title-toggle.title-active{cursor:default}
.ybcgeneral.title-toggle:after{content:"\f103";font-family:FontAwesome;float:right;margin-right:10px;line-height:14px;position:absolute;right:0;top:7px}
.ybcgeneral.title-toggle.title-active:after{content:"\f102"}
h2.ybcgeneral.title-toggle::before,.title-heading:before{border:15px solid;content:"";float:left;height:0;margin-bottom:-3px;margin-right:15px;width:0}
#tab-gest.content-active{float:left;margin-bottom:30px;text-align:center;width:100%}
#tab-gest > div{display:inline-block;margin:0 auto}
.checkout-content input[type="text"],.checkout-content input[type="password"],.checkout-content select{border:1px solid #333;border-radius:0;box-shadow:none;margin-bottom:0;min-width:270px;font-size:14px;width:330px}
.checkout-content input[type="number"],.checkout-content input[type="password"],.checkout-content select{border:1px solid #333;border-radius:0;box-shadow:none;margin-bottom:0;min-width:270px;font-size:14px;width:330px}

.checkout-content input[type="radio"],.checkout-content input[type="checkbox"]{margin:2px 6px 0 0;min-width:20px;vertical-align:-2px}
.checkout-content #payment-existing table,table#customer.form{margin:0 auto}
.page_stepcheckout .buttons .button{border-radius:0;font-weight:700;min-width:100px;font-size:12px}
.checkout-content textarea{border:1px solid #333;border-radius:0;min-width:330px;width:330px}
#payment-address #order_type_top > label{color:#000;float:left;font-size:16px;font-weight:400;margin-right:10px;position:relative;width:100%}
.checkout-content .quantity > input[type="text"]{height:25px;min-width:20px;padding:0 3px;text-align:right;width:40px;color:#1e1e1e;border-radius:2px}
.checkout-content .quantity > input[type="number"]{height:25px;min-width:20px;padding:0 3px;text-align:right;width:40px;color:#1e1e1e;border-radius:2px}

.page_stepcheckout #tab-gest .buttons .left{display:inline-block;float:none;margin:0 auto;width:auto}
.page_stepcheckout #tab-gest .buttons #button-guest{margin:0;border-radius:0}
#tab-register table{margin:0 auto}
.page_stepcheckout #content .cart-info{margin-bottom:15px;overflow-x:auto}
#payment_method_ets.checkout_select{border:medium none;box-shadow:none;clear:left;display:inline-block;float:none;height:auto;margin:0 auto;min-width:458px;width:auto}
.custom_payment_method_ets{display:block;float:left;text-align:center;width:100%}
#payment_method_ets > input{clear:left;float:left;margin-bottom:20px;margin-top:8px}
#payment_method_ets > label{color:red;float:left;font-size:18px;font-weight:700;margin-bottom:25px;margin-top:6px}
#payment_method_ets > label.ybc_cod{color:#3e3e3e;font-size:18px;margin-top:2px}
#payment_method_ets > img{float:left;margin-right:10px}
#payment-method .st-accordion ul li{background-color:transparent;border-bottom:medium none;border-top:medium none;height:auto!important;overflow:hidden;list-style:none;padding:7px 0}
.page_stepcheckout #content{padding-left:30px;padding-right:30px}
.page_stepcheckout .checkout-content{float:left;padding:20px 0;width:100%}
.page_stepcheckout .cart-total{background:transparent none repeat scroll 0 0;border-top:4px double #ccc}
#payment-method .cart-info tbody tr:last-child{border-bottom:medium none}
#payment-method .cart-info table{margin-bottom:0}
.ybc_custom_form_group{display:inline-block;position:relative;margin-bottom:10px}
.ybc_custom_form_group::before{border-left:1px solid #ccc;color:#ccc;float:none;font-size:16px;height:22px;line-height:22px;margin:0;padding-left:5px;padding-right:5px;pointer-events:none;position:absolute;right:0;text-align:center;top:6px;width:22px}
#step_payment_method{padding:0 30px}
.ybc_custom_form_group.ybc_custom_form_group_after::before{height:17px;line-height:15px;top:6px;width:22px}
.ybc_custom_form_group_after:after{content:"\f0d7";border-left:1px solid #ccc;bottom:6px;color:#ccc;float:none;font-size:16px;height:17px;line-height:20px;margin:0;padding-left:5px;padding-right:5px;pointer-events:none;position:absolute;right:0;text-align:center;width:22px}
.ybc_custom_form_firstname input[type="text"],.ybc_custom_form_lastname input[type="text"]{min-width:130px;width:166px}
.ybc_custom_form_firstname{margin-top:10px;width:166px}
.ybc_custom_form_lastname{margin-top:10px;float:right;width:163px}
.or_login{color:#000;font-size:14px}
.btnloginwithfacebook i{font-size:16px;margin-right:5px}
.title-heading > span{color:#000}
#tab-gest,#tab-register{display:none}
label.style-select select{-webkit-appearance:none;-moz-appearance:none}
label.style-select{float:left;position:relative;width:100%}
label.style-select:after{color:#ccc;content:'\f0dd';font-family:FontAwesome;font-size:16px;padding:0 0 2px;pointer-events:none;position:absolute;right:13px;top:10px}
.box-time-select{display:inline-block;margin:0 auto}
.partcheckout #order_type_top{float:left;margin:0 auto;padding-left:40%;width:100%}
#order_type_top label span::before{border:1px solid #555;border-radius:50%;content:"";float:left;height:12px;left:0;margin-right:10px;position:absolute;top:2px;width:12px}
#order_type_top label input:checked + span::after{background:#555 none repeat scroll 0 0;border-radius:50%;content:"";height:8px;left:3px;position:absolute;top:5px;width:8px}
#order_type_top label input[type="radio"]{opacity:0;position:relative;z-index:9999;float:left}
#order_type_top label span{float:left;margin-bottom:4px}
.style-select.box-time-select{display:inline-block;margin:0 auto;float:none;width:auto}
.my-basket{float:left;font-size:16px;margin-top:14px;text-align:left;text-transform:none}
.st-content.my-baskets{margin:0 auto;width:60%}
.box-list-prod{float:left;margin-bottom:5px;width:100%}
.quantity{float:left}
.name{float:left;padding:4px 0 4px 6px;position:relative;text-align:left;width:65%}
.name a{clear:both;color:#333;font-size:16px;position:relative;width:auto;z-index:9;padding-right:5px}
span.bg{position:relative;padding-right:5px;z-index:9}
.name .show-custom-field{background:#fff none repeat scroll 0 0;float:left;position:relative;z-index:9}
.total{color:#333;float:left;font-size:14px;min-width:50px;padding:6px 0}
.action{padding:7px 0 0}
.cart-total td{min-width:40px;text-align:left}
.cart-total td.total-text{color:#000;font-size:14px}
.cart-total td.total-tile b{font-size:17px}
div.name::after{border-top:2px dotted #333;content:"";float:right;position:absolute;right:0;text-align:right;width:100%;z-index:1}
.error::after{content:"\f05c";cursor:pointer;font-family:FontAwesome;font-size:17px;font-weight:400;margin:0 4px}
.loyality{clear:left;display:inline-block;float:none;list-style:outside none none;margin:0 auto;min-width:430px;position:relative;text-align:left}
#billingaddress.loyality{width:478px;display:none}
input + .error,select + .error{margin-top:0;text-align:left;font-weight:400}
.billingaddress-laabel{margin-bottom:20px;position:relative;width:auto}
#billingaddress.loyality input[type="checkbox"] + label::before{height:20px;width:20px;top:-3px;right:0}
#billingaddress.loyality input[type="checkbox"]:checked + label::after{font-size:28px;right:-6px;top:-4px}
.checkout-content .billing-address input[type="text"]{display:block;float:none;margin-bottom:10px;width:100%}
.checkout-content .billing-address input.input-city.form-control[type="text"]{float:left;min-width:inherit;width:49.5%}
.loyality input[type="checkbox"] + label::before{border:1px solid;border-radius:2px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.4) inset;-moz-box-shadow:0 0 5px rgba(0,0,0,0.4) inset;box-shadow:0 0 5px rgba(0,0,0,0.4) inset;content:"";float:left;height:30px;left:auto;position:absolute;right:28px;top:-12px;width:30px}
.loyality input[type="checkbox"]:checked + label::after{color:green;content:"\f00c";font-family:FontAwesome;font-size:41px;left:auto;position:absolute;right:20px;top:-24px}
.billing-address .ybc_custom_form_group{display:list-item}
#step_payment_method.step_payment_method{padding:0}
.loyality label{font-size:16px;position:relative;float:left;width:100%}
.loyality input[type="checkbox"]{height:30px;margin:-2px 3px 0 0;min-width:24px;opacity:0;position:absolute;right:0;vertical-align:0;z-index:9}
#mindeliveryrequire > p{margin-bottom:0;margin-left:26px;text-align:left}
#mindeliveryrequire p:nth-child(2){color:red}
.billingaddress-laabel > label{font-size:12px;font-weight:700;line-height:18px;color:#3e3e3e}
.st-content .button{padding:0 15px;font-weight:700}
.small-city{display:inline-block;width:49.5%;float:left}
.box-right{float:right}
.checkout-content .billing-address .small-city input[type="text"]{min-width:inherit}
.buttons.box-action{float:none;margin:0 auto;max-width:420px}
.step_4 .buttons.box-action{max-width:100%}
.backbtn{float:left}
.checkout-content .ybc_custom_form_group.input-short input[type="text"],.checkout-content .ybc_custom_form_group.input-short select{min-width:100px;width:160px}
.checkout-content .ybc_custom_form_group.input-short select{padding:7px;color:#919191;font-weight:500}
.box-select::after{background:#333 none repeat scroll 0 0;bottom:0;content:"";height:1px;left:50%;position:absolute;transform:translateX(-50%);width:70%}
#change_add{float:left;margin-bottom:12px}
.box-select{display:inline-block;position:relative}
.ybc_custom_form_group.input-short{width:160px;line-height:1}
.ybc_custom_form_group.small-city{width:210px}
table.form td{vertical-align:top}
.content-tab{float:left;width:100%}
.style-select select{background:#fff;color:#000}
table.form.form-delivery-address{margin-bottom:0}
#button-guest{text-transform:none;font-weight:700}
#payment-address .box-action-step2 .right{float:right;padding-bottom:15px;width:auto}
.buttons.box-action.box-action-step2{margin-top:20px;max-width:330px}
.page_checkout .buttons.box-action-step2 .right .button{margin-right:0}
.end-price td{position:relative}
.end-price:nth-last-child(2) td.total-text::before{content:'';position:absolute;top:0;left:-50%;width:200%;height:1px;background:#ccc}
.end-price:nth-last-child(2) td.total-tile::before{content:'';position:absolute;top:0;left:-15%;width:130%;height:1px;background:#ccc}
#ybc_timing.active{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transition:transform 1s ease 0;-webkit-transition:transform 1s ease 0;-moz-transition:transform 1s ease 0;-ms-transition:transform 1s ease 0;-o-transition:transform 1s ease 0}
#ybc_timing{color:green;cursor:pointer;display:inline-block;font-size:14px}
.page_stepcheckout #payment-method .st-content{clear:left}
@keyframes spiner {
from{background-color:red}
to{background-color:#ff0}
}
.page_stepcheckout .backbtn::before{content:"\f053";font-family:FontAwesome;font-weight:700;color:#000}
.page_stepcheckout .backbtn .button{background-color:transparent;color:#000;min-width:0;padding:0;text-transform:uppercase;width:auto}
#confirm.step_4 .checkout-product table td{float:none;width:auto}
#confirm.step_4 .checkout-product table td.name:after{display:none}
.page_stepcheckout .remove_product i{float:left;font-size:16px;margin-left:10px}
.page_stepcheckout.page_checkout .checkout{max-width:100%;padding:0}
.success,.warning{margin:0 auto 14px}
.cart-detail-form{padding-top:50px;display:block;}
.cart-detail-form .input-wrap input{width:100%;}
form.cart-detail-form > div.card-details .input-wrap label{text-align:left;}
.cart-detail-form .buttons:after{clear:both;display:block;content:'';}
.cart-detail-form .buttons .card-backbtn{float:left;}
.cart-detail-form .input-wrap .sub-input-wrap + .sub-input-wrap{margin-top:1rem;}
.cart-detail-form #card-error-details .error-section{background:#f00;padding:10px;border-radius:10px;border:2px dashed #d91616;display:block;margin-bottom:20px;}
.cart-detail-form #card-error-details .error-section p{margin:0;line-height:18px;color:#fff;}

@media (max-width: 979px) {
.st-content.my-baskets{margin:0 auto;width:90%}
body.page_stepcheckout > div#container{z-index:10}
}
@media (max-width: 649px) {
#billingaddress.loyality{min-width:0}
.ybc_custom_form_group.small-city{width:100%}
#payment_method_ets.checkout_select{min-width:0;width:100%}
#billingaddress.loyality{min-width:0;padding:0 15px}
#cartdetail .box-list-prod .action{float:right;padding:7px 0 0}
#step_payment_method{padding:0 15px}
.ybc_custom_form_group{width:100%}
.checkout-content input[type="text"],.checkout-content input[type="password"],.checkout-content select,.checkout-content .ybc_custom_form_group.input-short input[type="text"]{min-width:100%;width:100%}
.checkout-content #payment-existing table,table#customer.form,.ybc_custom_form_group.input-short,.checkout-content .form textarea,.box-select,.style-select.box-time-select{width:100%}
.page_stepcheckout .checkout table.form td{display:block;width:100%}
.partcheckout #order_type_top{padding-left:20%}
#checkout > .checkout-heading,#payment-address > .checkout-heading,#payment-method > .checkout-heading,#confirm > .checkout-heading{margin-bottom:0;margin-top:0}
.success,.warning,.attention,.information{max-width:100%}
.checkout-product .name a{font-size:12px}
}