.navbar .btn-navbar{display:block;float:right;padding:8px 10px;margin:11px 5px;border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);filter:progid:dximagetransform.microsoft.gradient(enabled=false);-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.075);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.075);box-shadow:0 1px 0 rgba(255, 255, 255, 0.075);}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled]{}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active{}
.navbar .btn-navbar .icon-bar{display:block;width:19px;height:3px;background-color:#f5f5f5;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);}
.btn-navbar .icon-bar + .icon-bar{margin-top:3px;}
#navbar-inner{min-height:40px;}
.navbar .textmenu{color:#ffffff;display:block;float:left;font-family:"Roboto Condensed",Arial,Helvetica,sans-serif;font-size:22px;line-height:31px;margin:0;padding:0 0 0 6%;}
#ma-mobilemenu{display:none;height:auto;}
.nav-collapse, .nav-collapse.collapse{overflow-x:hidden;overflow-y:hidden;}
.mobilemenu{list-style:outside none none;margin:0;padding:0;}
.nav-collapse{text-align:left;clear:both;}
.mobilemenu ul{padding:0;margin:0;float:left;display:block;width:100%;}
.mobilemenu li{cursor:pointer;list-style-type:none;padding:0;margin:0;float:left;display:block;width:100%;position:relative;}
.mobilemenu li div{padding:20px;display:block;clear:both;float:left;}
.mobilemenu a{border-bottom:1px solid #EEEEEE;color:#000000;cursor:pointer;display:block;font-family:'Roboto Condensed',Arial,Helvetica,sans-serif;font-size:17px;line-height:34px;padding:0 10px;text-decoration:none;}
.mobilemenu a:hover{color:#222;background-color:#f4f4f4;}
.mobilemenu ul a{padding-left:25px;font-size:15px;}
.mobilemenu ul ul a{padding-left:40px;}
.mobilemenu ul ul ul a{padding-left:55px;}
.mobilemenu ul ul ul ul a{padding-left:70px;}
.mobilemenu ul ul ul ul ul a{padding-left:85px;}
.mobilemenu span.head{position:absolute;top:8px;right:8px;}
.mobilemenu span.head a{background:url(../image/menu_down.png) no-repeat 50% 50%;color:#333333;display:block;height:15px;padding:0;width:15px;border:0;}
.mobilemenu li.active>span.head a{background:url(../image/menu_up.png) no-repeat 50% 50%;}
.mobilemenu li.selected span.head a{background:url(../image/menu_up.png) no-repeat 50% 50%;}
.etsBorderOut{float:left;width:100%;}